.root {
  padding-inline: 1rem;
  max-width: 1536px;
  min-height: 100vh;
  margin-inline: auto;
  padding-block: 2rem;
  display: flex;
}

@media (min-width: 1024px) {
  .root {
    padding-inline: 3rem;
  }
}
