/**
 * Typography
 */
.root :where(h1, h2, h3, h4, h5, h6, p) {
  margin: 1.5rem 0; /* Line height * 1 */
}

.root :where(h1, h2, h3) {
  font-weight: lighter;
}

.root :where(h4, h5) {
  font-weight: normal;
}

.root h1 {
  font-size: 4.236rem; /* FontSize * (ScaleFactor ** 3) */
  line-height: 6rem; /* LineHeight * 4 */
}

.root h2 {
  font-size: 2.618rem; /* FontSize * (ScaleFactor ** 2) */
  line-height: 4.5rem; /* LineHeight * 3 */
}

.root h3 {
  font-size: 1.618rem; /* FontSize * (ScaleFactor ** 1) */
  line-height: 3rem; /* LineHeight * 2 */
}

.root :where(h4, h5, h6, p) {
  font-size: 1rem; /* FontSize * (ScaleFactor ** 0) */
  line-height: 1.5rem; /* LineHeight * 1 */
}
